body {
    font-family: 'Open Sans', sans-serif !important;
    min-height: 100%;
    display: flex;
}
#root {
    background-color: #F5F7FB;
    display: flex;
    width: 100%;
}
.App{
    display: flex;
    flex-direction: column;
    width: 100%;
}
html, body{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}